<a href="https://colab.research.google.com/github/Consolucas/DesafiosAnaliseDados/blob/main/AluraPandasI_ODesafio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 1

Seu desafio aqui será fazer a leitura desse arquivo utilizando a função read_csv da biblioteca Pandas. Alguns parâmetros devem ser adicionados para que a leitura seja feita corretamente. Então, seguem algumas dicas:

1) Verifique se o arquivo CSV está separado por vírgula ou ponto e vírgula.

In [ ]:
import pandas as pd

In [ ]:
url = '/content/drive/MyDrive/PandasI O/dados/dados_sus.csv'

In [ ]:
pd.read_csv(url, encoding='ISO-8859-1', sep=';')

In [ ]:
with open(url, encoding='ISO-8859-1') as f:
    for _ in range(5):
        print(f.readline())
# usando este método para poder identificar o erro que estava tendo
#descobri ser as três primeiras linhas mal estruturadas

In [ ]:
data = pd.read_csv(url, encoding='ISO-8859-1', sep=';', skiprows=3)
#desse jeito funcionou, tirando as três linhas

2) A codificação do arquivo é ISO-8859-1.

3) As três primeiras linhas linhas do arquivo podem ser desconsideradas, pois o cabeçalho só começa na quarta linha.

In [ ]:
# já resolvi esses dois passos

4) As 9 últimas linhas também podem ser desconsideradas, pois são apenas informações sobre onde os dados foram obtidos.

5) Para deletar as últimas linhas é necessário adicionar o parâmetro engine='python'.

In [ ]:
data = df = pd.read_csv(url, encoding='ISO-8859-1', sep=';', skiprows=3, skipfooter=9, engine='python')
data

# Desafio 2

Chegou a hora de testar os conhecimentos desenvolvidos durante a aula.

O DataFrame mostrado abaixo foi gerado após a obtenção de dados da API JSONPlaceholder:

Este DataFrame possui 8 colunas: id, name (nome), username (nome de usuário), email , address (endereço), phone(telefone), website e company (empresa). Note que as colunas address e company contém informações aninhadas, ou seja, os dados dessas colunas estão organizados em subcampos. Por exemplo, na coluna address, você encontrará subcampos como street (rua), suite (complemento), city (cidade) e zipcode (CEP). Já na coluna company, os subcampos incluem name (nome da empresa), catchPhrase (slogan) e bs (área de atuação). Isso significa que, para acessar essas informações, é necessário realizar o processo de normalização.

O desafio agora é normalizar esse DataFrame, expandindo as colunas address e company em suas respectivas subcolunas para facilitar a visualização e a análise dos dados.

Se você tiver dúvidas sobre como resolver, consulte a opinião da pessoa instrutora!

In [2]:
import pandas as pd
import requests
import json

In [14]:
dados_usuarios= requests.get('https://jsonplaceholder.typicode.com/users')
# faz uma requisição get para trazer os dados json

In [15]:
resultado = json.loads(dados_usuarios.text)
# converte o json para uma lista de dicionários

In [ ]:
usuarios_normalizados = pd.json_normalize(resultado, sep='_')
usuarios_normalizados.head()
#assim nós normalizamos os dados que estavam em json, e depois em listas.
# colocando _ para mostrar os itens que foram desaninhados

# Desafio 3

Chegou a hora de testar os conhecimentos desenvolvidos durante a aula.

Vanessa é uma cientista de dados que está realizando algumas análises com dados ambientais. Ela está desenvolvendo um projeto para avaliar o impacto ambiental das atividades humanas em diferentes países do mundo, mas para isso precisa das estimativas populacionais desses países. Ao pesquisar na internet, encontrou uma tabela de estimativas populacionais em um artigo da página Wikipédia.

Assim como Vanessa, seu desafio é obter um DataFrame da tabela que contém as informações do número de habitantes de cada país.

In [3]:
url = 'https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o'
df = pd.read_html(url)

In [5]:
df[0]

,Unnamed: 0,Posição,País (ou território dependente),Estimativa da ONU,Crescimento desde a última estimativa,Estimativa Oficial
0,NaN,1,Índia,1 417 492 000,-12 692 000,Estimativa oficial
1,NaN,2,China[nota 1],1.407.934.000,-1 390 000,Censo oficial
2,NaN,3,Estados Unidos,342.181.000,-2 084 000,Censo oficial
3,NaN,4,Indonésia,285.783.000,+3 337 000,Estimativa oficial
4,NaN,5,Paquistão,256 204 000,+6 567 000,Estimativa oficial
...,...,...,...,...,...,...
245,NaN,–,Ilha de Ascensão (Reino Unido),1 100,NaN,Estimativa oficial[10]
246,NaN,195,Vaticano,879,NaN,Estimativa oficial
247,NaN,–,Ilhas Cocos (Keeling) (Austrália),605,NaN,Estimativa oficial
248,NaN,–,Tristão da Cunha (Reino Unido),264,NaN,Estimativa oficial[11]
249,NaN,–,Ilhas Pitcairn (Reino Unido),67,NaN,Estimativa oficial

# Desafio 4

Você é responsável por criar um banco de dados local de clientes para uma instituição financeira. Temos o arquivo CSV com os dados de clientes.

Sua missão é:

1. Criar o banco de dados local com a biblioteca SQLAlchemy.
2. Escrever os dados do arquivo CSV neste banco de dados local.
3. Realizar três atualizações no banco de dados:
* Atualizar o registro do cliente de ID 6840104 que teve o rendimento anual alterado para 300000.
* Excluir o registro do cliente de ID 5008809, pois essa pessoa não possui mais conta na instituição financeira.
* Criar um novo registro de cliente seguindo as especificações abaixo:
* - ID_Cliente: 6850985
* - Idade: 33
* - Grau_escolaridade: Doutorado
* - Estado_civil: Solteiro
* - Tamanho_familia: 1
* - Categoria_de_renda: Empregado
* - Ocupacao: TI
* - Anos_empregado: 2
* - Rendimento_anual: 290000
* - Tem_carro: 0
* - Moradia: Casa/apartamento próprio

In [7]:
import pandas as pd
import sqlalchemy

In [9]:
from sqlalchemy import create_engine, MetaData, Table, inspect, text

In [10]:
engine = create_engine('sqlite:///:memory:')

In [11]:
dados = pd.read_csv('/content/drive/MyDrive/PandasI O/dados/clientes_banco.csv')
dados

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
438458,6840104,62,Ensino médio,Divorciado,1,Pensionista,Outro,0,135000.0,0,Casa/apartamento próprio
438459,6840222,43,Ensino médio,Solteiro,1,Empregado,Construção Civil,8,103500.0,0,Casa/apartamento próprio
438460,6841878,22,Ensino superior,Solteiro,1,Associado comercial,Vendas,1,54000.0,0,Mora com os pais
438461,6842765,59,Ensino médio,Casado,2,Pensionista,Outro,0,72000.0,0,Casa/apartamento próprio
438462,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio

In [13]:
dados.to_sql('clientes', engine, index=False)

438463

1.

In [25]:
query = text('UPDATE clientes\
                 SET Rendimento_anual=300000\
               WHERE ID_Cliente=6840104')

with engine.connect() as conn:
  conn.execute(query)
  conn.commit()

In [26]:
query = text('SELECT *\
                FROM clientes\
               WHERE ID_Cliente=6840104')

consulta = pd.read_sql_query(query, engine)
consulta

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,6840104,62,Ensino médio,Divorciado,1,Pensionista,Outro,0,300000.0,0,Casa/apartamento próprio

2.

In [28]:
query = text('DELETE FROM clientes\
               WHERE ID_Cliente=5008809')

with engine.connect() as conn:
  conn.execute(query)
  conn.commit()

In [29]:
query = text('SELECT *\
                FROM clientes\
               WHERE ID_Cliente=5008809')

consulta = pd.read_sql_query(query, engine)
consulta

Empty DataFrame
Columns: [ID_Cliente, Idade, Grau_escolaridade, Estado_civil, Tamanho_familia, Categoria_de_renda, Ocupacao, Anos_empregado, Rendimento_anual, Tem_carro, Moradia]
Index: []

3.

In [30]:
query = text('INSERT INTO clientes("ID_Cliente", "Idade", "Grau_escolaridade", "Estado_civil", "Tamanho_familia", "Categoria_de_renda", "Ocupacao", "Anos_empregado", "Rendimento_anual","Tem_carro", "Moradia")\
                   VALUES(6850985, 33, "Doutorado", "Solteiro", 1, "Empregado","TI", 2, 290000, 0, "Casa/apartamento próprio")')

with engine.connect() as conn:
  conn.execute(query)
  conn.commit()

In [31]:
query = text('SELECT *\
                FROM clientes\
               WHERE ID_Cliente=6850985')

consulta = pd.read_sql_query(query, engine)
consulta

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,6850985,33,Doutorado,Solteiro,1,Empregado,TI,2,290000.0,0,Casa/apartamento próprio