<a href="https://colab.research.google.com/github/Consolucas/DesafiosAnaliseDados/blob/main/PandasManipulacaoDesafio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Chegou a hora de pôr em prática tudo o que aprendemos durante as aulas. Preparei dois projetos extras para desenvolvermos durante o curso, para garantir que possamos praticar bastante! Para isso, vamos trabalhar com 2 novos conjuntos de dados, mas que dessa vez serão bem menores. As bases de dados estão disponíveis para download abaixo:

Projeto desafio 1: vendas online - dados_vendas_clientes.json;
Projeto desafio 2: administração de condomínios - dados_locacao_imoveis.json.
Em cada aula, desenvolveremos uma etapa dos projetos. Portanto, salve seu código de construção em cada desafio para que possa aplicá-lo nos desafios posteriores.

# Desafio 1

O objetivo desse projeto é realizar uma análise dos resultados de um evento com os clientes de uma empresa de vendas online. Foi coletado um conjunto de dados que contém os clientes que mais gastaram com produtos dentro de 5 dias de vendas, que é o período de duração do evento. Essa análise vai identificar o cliente com a maior compra na semana, que irá receber um prêmio da loja, e posteriormente, ela pode ajudar a empresa a criar novas estratégias para atrair mais clientes.

A base de dados utilizada nessa análise é a dados_vendas_clientes.json e contém informações importantes sobre os clientes como, o nome de cadastro do cliente, o valor total pago na compra e o dia da compra.

Sabendo essas informações, o desafio do projeto 1: vendas online será abrir a base de dados com Pandas e aplicar o json_normalize.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_json('/content/drive/MyDrive/AluraOne/PandasManipulacao/dados_vendas_clientes.json')

In [ ]:
df.head()

In [ ]:
dados = pd.json_normalize(df['dados_vendas'])
dados.head()

In [ ]:
dados_tratados_vendas = dados.explode(['Cliente', 'Valor da compra']).reset_index(drop=True)
dados_tratados_vendas
#explode funciona unindo as duas listas, em linhas
#reset_inext(drop=True) remove os índex

# Desafio 2

A administração de condomínios é uma tarefa que requer muita atenção e organização. Entre as diversas responsabilidades da gestão está o recebimento dos aluguéis dos locatários. Para garantir uma boa saúde financeira do empreendimento, é fundamental que esses pagamentos sejam feitos de forma regular e pontual. No entanto, sabemos que nem sempre isso acontece.

Pensando nisso, proponho um desafio de tratamento de dados com o objetivo de analisar o atraso no pagamento de aluguéis no condomínio de alguns moradores. Disponibilizo a base de dados dados_locacao_imoveis.json, que contém informações sobre o apartamento dos locatários, o dia acordado para o pagamento do aluguel, o dia da efetivação do pagamento de aluguel e o valor do aluguel.

Com essas informações, o desafio do projeto 2: administração de condomínios será similar ao desafio do projeto 1, abrir a base de dados com Pandas e aplicar o json_normalize no DataFrame.

In [ ]:
df = pd.read_json('/content/drive/MyDrive/AluraOne/PandasManipulacao/dados_locacao_imoveis.json')
df.head()

In [ ]:
dados = pd.json_normalize(df['dados_locacao'])
dados.head()

In [ ]:
colunas = list(dados.columns)
colunas

In [ ]:
dados_tratados_locacao = dados.explode(colunas[1:]).reset_index(drop=True)
dados_tratados_locacao

# Desafio 3

Projeto desafio 1: vendas online
Lemos a base de dados no desafio anterior, agora podemos avançar nas transformações desses dados. Então, o novo desafio do projeto 1 será dividido em algumas metas:

Remover os dados em listas dentro do DataFrame;

Verificar os tipos de dados;

Identificar colunas numéricas;

Transformar a coluna numérica para o tipo numérico.

In [ ]:
dados_tratados_vendas.info()

In [ ]:
dados_tratados_vendas['Valor da compra'] = dados_tratados_vendas['Valor da compra'].apply(lambda x: x.replace('R$', '').replace(',', '.').strip()).astype(float)
dados_tratados_vendas['Valor da compra']

Projeto desafio 2: administração de condomínios
Lemos a base de dados no desafio anterior, agora podemos avançar nas transformações desses dados. Então, da mesma forma que o projeto 1, o desafio do projeto 2 está listado em algumas metas:

Remover os dados em listas dentro do DataFrame;

Verificar os tipos de dados;

Identificar colunas numéricas;

Transformar a coluna numérica para o tipo numérico.

In [ ]:
dados_tratados_locacao.info()

In [ ]:
dados_tratados_locacao['valor_aluguel'] = dados_tratados_locacao['valor_aluguel'].apply(lambda x: x.replace('$', '').replace(',', '.').replace('reais', '').strip()).astype(float)
dados_tratados_locacao['valor_aluguel']

# Desafio 4

Projeto desafio 1: vendas online
Na etapa 2, trabalhamos na transformação dos dados numéricos. Agora, podemos trabalhar com valores textuais.

Devido a uma instabilidade no site da empresa, tivemos problemas com os nomes dos clientes durante o salvamento. Isso resultou em uma coluna de nomes de clientes com uma mistura de letras, maiúsculas e minúsculas, números e outros caracteres.

Sabendo disso, manipule os textos presentes na coluna Cliente para que seja obtido como resultado os nomes dos clientes em letras minúsculas, com a ausência de caracteres especiais ou números.

In [ ]:
dados_tratados_vendas['Cliente']

In [ ]:
dados_tratados_vendas['Cliente']=dados_tratados_vendas['Cliente'].str.lower().str.replace('[^a-zã ]', '', regex=True)

Projeto desafio 2: administração de condomínios
Na etapa 2, trabalhamos na transformação dos dados numéricos. Agora, podemos trabalhar com valores textuais.

Buscando explicar a organização da identificação dos apartamentos, durante a criação do conjunto de dados, foi adicionado o texto (blocoAP). Esse texto informa que os nomes dos apartamentos estão organizados com a letra do bloco seguida do número do apartamento. No entanto, isso não traz nenhuma informação para nossos dados, sendo interessante realizar a remoção desse texto no conjunto de dados.

Com isso, manipule os textos na coluna apartamento para remover o texto (blocoAP) do DataFrame.

In [ ]:
dados_tratados_locacao['apartamento'].head()

In [ ]:
dados_tratados_locacao['apartamento']=dados_tratados_locacao['apartamento'].str.replace('\(blocoAP\)', '', regex=True)

# Desafio 5

Projeto desafio 1: vendas online
Nas etapas anteriores, já trabalhamos com vários tipos de dados, agora podemos trabalhar com os dados de tempo.

Na coluna Data de venda, temos datas em formato 'dia/mês/ano' (dd/mm/AAAA). Transforme esses dados para o tipo datetime e busque uma forma de visualização de subconjunto que possa contribuir no objetivo do contexto que os dados estão inseridos.

Se você não lembra o problema do projeto desafio 1, vou deixar abaixo o texto da situação para facilitar o encontro da informação:

O objetivo desse projeto é realizar uma análise dos resultados de um evento com os clientes de uma empresa de vendas online. Foi coletado um conjunto de dados que contém os clientes que mais gastaram com produtos dentro de 5 dias de vendas, que é o período de duração do evento. Essa análise vai identificar o cliente com a maior compra na semana, que irá receber um prêmio da loja, e posteriormente, ela pode ajudar a empresa a criar novas estratégias para atrair mais clientes.

In [ ]:
dados_tratados_vendas

In [ ]:
dados_tratados_vendas['Data de venda']= pd.to_datetime(dados_tratados_vendas['Data de venda'], format='%d/%m/%Y')
dados_tratados_vendas['Data de venda']

In [ ]:
dados_tratados_vendas.groupby(dados_tratados_vendas['Cliente'])['Valor da compra'].sum().sort_values(ascending=False)
#descobrindo o cliente que mais gastou

Projeto desafio 2: administração de condomínios
Assim como no projeto desafio 1, trabalhamos com todas as colunas exceto as que envolvem datas.

Nas colunas datas_de_pagamento e datas_combinadas_pagamento, temos datas em formato 'dia/mês/ano' (dd/mm/AAAA). Transforme esses dados para o tipo datetime e busque uma forma de visualização de subconjunto que possa contribuir no objetivo do contexto que os dados estão inseridos.

Se você não lembra o problema do projeto desafio 2, vou deixar abaixo o texto da situação para facilitar o encontro da informação:

A administração de condomínios é uma tarefa que requer muita atenção e organização. Entre as diversas responsabilidades da gestão está o recebimento dos aluguéis dos locatários. Para garantir uma boa saúde financeira do empreendimento, é fundamental que esses pagamentos sejam feitos de forma regular e pontual. No entanto, sabemos que nem sempre isso acontece. Pensando nisso, proponho um desafio de tratamento de dados com o objetivo de analisar o atraso no pagamento de aluguéis no condomínio fictício de alguns moradores.

In [ ]:
dados_tratados_locacao

In [ ]:
dados_tratados_locacao[['datas_combinadas_pagamento','datas_de_pagamento']] = \
    dados_tratados_locacao[['datas_combinadas_pagamento', 'datas_de_pagamento']].applymap(lambda x: pd.to_datetime(x, format='%d/%m/%Y'))

In [ ]:
dados_tratados_locacao.info()

In [ ]:
dados_tratados_locacao

In [51]:
dados_tratados_locacao['atraso'] = (dados_tratados_locacao['datas_de_pagamento'] - dados_tratados_locacao['datas_combinadas_pagamento']).dt.days
dados_tratados_locacao

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel,atraso
0,A101,2022-06-01,2022-06-05,1000.0,4
1,A101,2022-07-01,2022-07-03,2500.0,2
2,A102,2022-06-02,2022-06-02,1100.0,0
3,A102,2022-07-02,2022-07-06,2600.0,4
4,B201,2022-06-03,2022-06-07,1200.0,4
5,B201,2022-07-03,2022-07-03,2700.0,0
6,B202,2022-06-04,2022-06-07,1300.0,3
7,B202,2022-07-04,2022-07-05,2800.0,1
8,C301,2022-06-05,2022-06-10,1400.0,5
9,C301,2022-07-05,2022-07-09,2900.0,4
10,C302,2022-06-06,2022-06-08,1500.0,2
11,C302,2022-07-06,2022-07-12,1200.0,6
12,D401,2022-06-07,2022-06-07,1600.0,0
13,D401,2022-07-07,2022-07-09,1300.0,2
14,D402,2022-06-08,2022-06-10,1700.0,2
15,D402,2022-07-08,2022-07-14,1400.0,6
16,E501,2022-06-09,2022-06-10,1800.0,1
17,E501,2022-07-09,2022-07-09,1500.0,0
18,E502,2022-06-10,2022-06-16,1900.0,6
19,E502,2022-07-10,2022-07-12,1600.0,2
20,F601,2022-06-11,2022-06-17,2000.0,6
21,F601,2022-07-11,2022-07-13,1000.0,2
22,F602,2022-06-12,2022-06-15,2100.0,3
23,F602,2022-07-12,2022-07-12,1100.0,0
24,G701,2022-06-13,2022-06-19,2200.0,6
25,G701,2022-07-13,2022-07-20,1200.0,7
26,G702,2022-06-14,2022-06-15,2300.0,1
27,G702,2022-07-14,2022-07-17,2100.0,3
28,H801,2022-06-15,2022-06-18,2400.0,3
29,H801,2022-07-15,2022-07-16,2200.0,1

In [52]:
media_atraso = dados_tratados_locacao.groupby(['apartamento'])['atraso'].mean()
media_atraso

apartamento
A101     3.0
A102     2.0
B201     2.0
B202     2.0
C301     4.5
C302     4.0
D401     1.0
D402     4.0
E501     0.5
E502     4.0
F601     4.0
F602     1.5
G701     6.5
G702     2.0
H801     2.0
Name: atraso, dtype: float64